@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-size: calc(1vh + 1vw);
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    margin: 0%;
    padding: 0%;
}

.container {
    margin: 0%;
    height: 100vh;
    background-color: #d7f2ff;
    display: grid;
    grid-template: 1fr 5fr / 1fr 4fr;
}

.sidebar {
    padding-left: 5%;
    padding-top: 0.5rem;
    background-color: #0ea5e9;
    grid-row: 1 / 3;
    color: white;
    min-width: 25%;
}

.sidebar h3 {
    font-size: 0.8rem;
    font-weight: 800;
}

.sidebar .top > h1{
    font-size: 1.5rem;
}

.sidebar .top, .sidebar .middle, .sidebar .down {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-auto-rows: 1.7rem;
    align-items: center;
    align-content: center;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
}

.sidebar .middle {
    margin-bottom: 2rem;
}

.sidebar svg {
    fill: white;
    justify-self: center;
}

.sidebar .top svg {
    height: calc(1.5 * 1rem);
    width: auto;
}

.sidebar .middle svg, .sidebar .down svg {
    height: calc(1.1 * 1rem);
    width: auto;
}


.header {
    background-color: white;
    padding-top: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 1px 2px 5px rgb(221, 221, 221);
}

.toph {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 3fr;
    align-items: center;
    justify-items: center;
    margin-bottom: 0.8rem;
}

.toph .name {
    font-size: 1rem;
    font-weight: 600;
    justify-self: start;
}

.search-bar {
    width: 80%;
    height: 80%;
    background-color: #d7f2ff;
    color: aqua;
    border-radius: 30px;
    justify-self: start;

}

.header svg {
    height: 1rem;
    width: auto;
}
.header .icon img{
    height: 1.8rem;
    width: auto;
    border-radius: 100%;
}

.header .downh .icon img {
    height: 3rem;
    width: auto;
    border-radius: 100%;
}

.downh {
    display: grid;
    grid-template-columns: 1fr 9fr 2fr 2fr 2fr;
    align-items: center;
    margin-bottom: 0.3rem;
}

.downh .greet {
    padding-left: 0.5rem;
    font-size: 0.7rem;
}
.downh .greet span {
    font-size: 1rem;
    font-weight: 600;
}

.downh button {
    background-color: #0ea5e9;
    color: white;
    font-size: 0.8rem;
    font-weight: 800;
    border: 0px;
    border-radius: 30px;
    height: 50%;
    width: 80%;
}

.main {
    padding: 1rem;
    display: grid;
    grid-template: 1fr 1fr / 3fr 1fr;
    gap: 1rem;
    overflow-y: scroll;

}

.title {
    font-size: 0.8rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.projects {
    grid-row: 1 / 3;
}

.sub-cont {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 1rem;
}
.proj {
    display: grid;
    grid-template-columns: 1fr 20fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    margin-bottom: 1rem;

}

.side-goa {
    background-color: #0ea5e9;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.projn {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
}

.projn .head {
    font-size: 1rem;
    font-weight: 700;
}

.projn .conttt {
    font-size: 0.7rem;
}

.projn .icons {
    display: flex;
    justify-content: end;
    align-content: center;
}

.projn .icons svg {
    height: 1rem;
    width: auto;
    margin: 10px;
}

.pos {
    position: fixed;
}

.contents .heading {
    font-size: 0.6rem;
    font-weight: 600;
}

.line {
    height: 1px;
    width: 100%;
    background-color:#0ea5e9;
    margin: 0.5rem 0rem;
}
.contents {
    background-color: white;
    height: 90%;
    width: 70%;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    border-radius: 10px;
    font-size: 0.5rem;
    padding: 1rem;
}

.haha {
    font-weight: 600;
}

.hehe > img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.hehe {
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr 4fr;
    align-items: center;
    gap: 0.5rem;
}